body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "athiti", oswald;
}

.box h1{
    color: aliceblue;
    text-align: center;
}

.box{
    background-color: rgb(98, 99, 100, 0.5);
    height: 90%;
    width: 90vw ;
    border-radius: 8px;
    flex-wrap: wrap;  /* ให้ responsive บนอุปกรณ์เล็ก */
    margin: 20px auto;
    box-sizing: border-box;
}

.certiall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.certi-hor img {
    flex : 1 1 280px;
    max-width: 280px;
    height: 220px;
    padding: 1px;
    margin: 10px;
    box-shadow: 0 6px 16px rgba(208, 229, 91, 0.6);
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    object-fit: cover;
}

.hamburger-container {
      position: fixed;
      display: inline-block;
      padding: 10px;
      color: white;
      cursor: pointer;
      z-index: 1;
    }

    /* เมนูที่ซ่อนอยู่ */
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #444;
      min-width: 160px;
      border-radius: 6px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      z-index: 1;
    }

    .dropdown-menu a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-family: 'athiti';
    }

    .dropdown-menu a:hover {
      background-color: #555;
    }

    /* แสดงเมนูเมื่อเอาเมาส์ไปชี้ */
    .hamburger-container:hover .dropdown-menu {
      display: block;
      animation: slideDown 0.3s ease;
    }

    /* ขีด 3 ขีด */
    .hamburger-icon {
      font-size: 28px;
    }

.certi-ver img {
    flex : 300px;
    max-width: 300px;
    height: auto;
    padding: 1px;
    margin: 10px;
    box-shadow: 0 6px 16px rgba(208, 229, 91, 0.6);
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}


.certi-ver:hover img, 
.certi-hor:hover img {
      transform: scale(1.05);}

.certi-ver p,
.certi-hor p {
     display: none;
     opacity: 0.0;}

.certi-hor:hover p, .certi-ver:hover p {
    display: block;
      margin-top: 10px;
      padding: 5px;
      font-size: 16px;
      color: #fbf8f8;
      opacity: 1.0;
      border-radius: 5px;
      background-color: rgba(199, 181, 181, 0.205);
    }

    body h4{
        text-align: center;
        color: rgb(251, 248, 248);
    }

