body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: 'athiti', oswald;
    color: aliceblue;
    text-align: center;
}

.selection {
    background-color: rgba(95, 101, 105, 0.233);
    width: 90vw;
    min-height: 75vh;
    margin: 40px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row; /* แนวนอนสำหรับจอใหญ่ */
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}


.hamburger-container {
      position: fixed;
      padding: 10px;
      color: white;
      cursor: pointer;
      z-index: 1;
    }

    /* เมนูที่ซ่อนอยู่ */
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 50;
      background-color: #444;
      min-width: 160px;
      border-radius: 6px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      z-index: 1;
    }

    .dropdown-menu a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-family: 'athiti';
    }

    .dropdown-menu a:hover {
      background-color: #555;
    }

    /* แสดงเมนูเมื่อเอาเมาส์ไปชี้ */
    .hamburger-container:hover .dropdown-menu {
      display: block;
      animation: slideDown 0.3s ease;
    }

    /* ขีด 3 ขีด */
    .hamburger-icon {
      font-size: 28px;
    }
    
.box {
    background-color: rgba(240, 255, 255, 0.216);
    border-radius: 10px;
    width: 25vw ;
    min-width: 250px;
    text-align: center;
    display: flex;
    color: aliceblue;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.box video, img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}




@media screen and (max-width: 768px) {
  .selection {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 80vw;
    margin-bottom: 20px;
    font-size: 0.7rem;
  }
}
